<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Spring Boot CRUD Example</title>

    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no"
          name="viewport">

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="icon" th:href="@{/img/ubuntu.png}">

    <script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/jquery-3.3.1.slim.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/popper.min.js}" type="text/javascript"></script>
</head>
<body>

<div class="container">
    <h2>Form Student</h2>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <form class="form-horizontal" method="post"
                  th:action="@{/create}" th:object="${student}">
                <input th:field="*{id}" type="hidden"/>

                <div class="form-group">
                    <label class="col-sm-4 control-label">Nama Depan:</label>
                    <div class="col-sm-8">
                        <input class="form-control" id="firstName" placeholder="Nama Depan" required
                               th:field="*{firstName}" type="text">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">Nama Belakang:</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="lastName" placeholder="Nama Belakang" required
                               th:field="*{lastName}" type="text">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Tanggal Lahir:</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="birthDate" required th:field="*{birthDate}" type="date">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Email:</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="email" placeholder="Email" required th:field="*{email}"
                               type="text">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Phone:</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="phone" placeholder="Nomor telepon" required
                               th:field="*{phone}" type="text">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Jurusan:</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="jurusan" placeholder="Nomor Jurusan" required
                               th:field="*{jurusan}" type="text">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Provinsi:</label>
                    <div class="col-sm-10">
                        <select aria-label="Default select example" class="form-select"
                                onchange="if(this.value) window.location.href=this.value">
                            <option>Pilih Provinsi</option>
                            <option th:each="p : ${provinsiList}"
                                    th:selected="${provinsi != null && (p.id == provinsi.id)}"
                                    th:text="${p.nama}"
                                    th:value="@{/create#pilih(provinsi=${p.id})}">Open this select menu
                            </option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Kotamadya/Kabupaten:</label>
                    <div class="col-sm-10">
                        <select aria-label="Default select example" class="form-select"
                                onchange="if(this.value) window.location.href=this.value"
                                th:disabled="${provinsi == null}">
                            <option>Pilih Kotamadya/Kabupaten</option>
                            <option th:each="kk : ${kotaList}"
                                    th:if="${kotaList}"
                                    th:selected="${kota != null && (kk.id == kota.id)}"
                                    th:text="${kk.nama}"
                                    th:value="@{/create#pilih(provinsi=${provinsi.id}, kota=${kk.id})}">Open
                                this select menu
                            </option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <a id="pilihKelurahan"></a>
                    <label class="col-sm-2 control-label">Kecamatan:</label>
                    <div class="col-sm-10">
                        <select aria-label="Default select example" class="form-select"
                                onchange="if(this.value) window.location.href=this.value"
                                th:disabled="${kota == null}">
                            <option>Pilih Kecamatan</option>
                            <option th:each="kec : ${kecamatanList}"
                                    th:if="${kecamatanList}"
                                    th:selected="${kecamatan != null && (kec.id == kecamatan.id)}"
                                    th:text="${kec.nama}"
                                    th:value="@{/create#pilih(provinsi=${provinsi.id},kota=${kota.id},kecamatan=${kec.id})}">
                                Open this select menu
                            </option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Kelurahan:</label>
                    <div class="col-sm-10">
                        <select aria-label="Default select example" class="form-select"
                                th:disabled="${kecamatan == null}">
                            <option>Pilih Kelurahan</option>
                            <option th:each="kel : ${kelurahanList}"
                                    th:if="${kelurahanList}"
                                    th:selected="${kelurahan != null && (kel.id == kelurahan.id)}"
                                    th:text="${kel.nama}"
                                    th:value="${kel.id}">
                                Open this select menu
                            </option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <input class="btn btn-success" type="submit" value="Save">
                    <a class="btn btn-danger" role="button" th:href="@{/}">Back</a>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>
